# 파이썬 패키지 목록

# 핵심 프레임워크 및 서버
fastapi
uvicorn

# 인공지능 및 RAG 관련
langchain==0.3.7
langchain-community==0.3.5
langchain-openai==0.2.6
langchain-text-splitters==0.3.2
openai

# 데이터 처리 및 DB

pandas
openpyxl
chromadb
python-dotenv



# 기타 도구
tiktoken